/* general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border: none;
}

.button {
    background-color: rgb(0,97,255);
    padding: 10px 15px;
    color: white;
    font-size: 16px;
}

.flex {
    display: flex;
}




/* header */

/* navigator */

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    background-color: white;
}

#nav-menu {
    padding: 20px 10px;
    
}

#nav-menu > a,img {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 400;
    vertical-align: top;
    color: rgb(65,65,65);
}

#nav-menu > button {
    margin-right: 20px;
}

button > a {
    color: white;
}






/* jumbo */

#jumbo-contain {
    width: 100vw;
    padding: 0 20%;
    margin-top: 80px;
    background-color: rgb(180,208,231);

}

#jumbo-contain > h1 {
    font-size: 70px;
    font-weight: 900;
    padding-top: 70px;
    padding-bottom: 30px;
}

#jumbo-left > p {
    padding-bottom: 20px;
}

#jumbo-left span {
    display: block;
    margin: 40px 0;
}

.dwn-arw-jmb {
    font-size: 60px;
    padding-top: 50px;
}

#jumb-img {
    width: 50rem;
    scale: 120%;
    position: relative;
    top: 60px;
    left: 90px;
}











/* main */

.main-container {
    max-width: 1000px;
    margin: 0 auto;
}





/* section 1 */

#sct-1 {
    margin-top: 150px;
    margin-bottom: 150px;
}

#sct-1 > h2 {
    font-size: 40px;
    padding-bottom: 50px;
}

#check-cont-sct-1 {
    padding-bottom: 50px;
}

#check-cont-sct-1 > span {
    padding-right: 60px;
    font-size: 14px;
}












.card-flex {
    width: calc((100/3)-40px);
    column-gap: 40px;
    margin-bottom: 50px;
    align-items: stretch;
}


.card-container > div {
    border: 1px solid grey;
    border-collapse: collapse;
}

.card-container > div > h4 {
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}












.main-card-sct-1 {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-card-sct-1 > h5 {
    font-size: 22px;
    padding-bottom: 15px;
}

.sct-1-price {
    display: block;
    font-size: small;
    font-weight: bold;
    padding-bottom: 10px;
}

.sct-1-period {
    display: block;
    color: grey;
    margin-bottom: 40px;
}













.card-carat {
    column-gap: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.main-card-sct-1 > button {
    position: relative;
    left: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 14px;
}

.card-under-but {
    font-size: 14px;
    padding-bottom: 30px;
}

.card-under-but > span {
    border-bottom: 1px solid grey;
    padding-bottom: 30px;
}

.card-under-but > a {
    color: blue;
    text-decoration: underline;
}

.main-card-sct-1 > h6 {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.main-card-sct-1 > ul {
    list-style-type: none;
    font-size: 14px;
}

.main-card-sct-1 > ul > li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
}

.main-card-sct-1 > ul > li::before {
    color: blue;
    content: "";
    position: absolute;
    left: 0px;
    width: 1em;
    height: 1em;
    background: url(../img/check-solid.svg);
}

.main-card-sct-1 > ul > li svg {
    color: blue;
}








.ori-card {
    justify-content: space-between;
}

.ori-card > div > h5 {
    font-size: 22px;
    padding-bottom: 20px;
}

.ori-card > div > span {
    font-size: 14px;
    font-weight: 700;
}

.ori-card > div > p {
    font-size: 14px;
    margin-top: 30px;
    width: 90%;
}










/* section 2 */
#sct-2-l {
    width: 40rem;
}

#sct-2-r {
    padding: 20px;
}

#sct-2-r h2 {
    font-size: 25px;
    font-weight: 900;
    padding: 20px 0;
}

#sct-2-r button {
    background-color: white;
    border: 1px solid black;
    padding: 15px 20px;
    font-size: 18px;
    margin-top: 30px;
}





/* section 3 */

#sct-3 {
    margin-top: 100px;
}

#sct-3 > h2 {
    font-size: 40px;
    margin-bottom: 60px;
}

#sct-3 > div {
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 40px;
    margin-bottom: 100px;
}

.card-sct-3 {
    width: 30%;
}

.card-sct-3 > img {
    width: 100%;
}

.card-sct-3 > h3 {
    padding-bottom: 40px;
    font-size: 22px;
}










/* section 4 */

#sct-4 {
    margin-bottom: 150px;
}

#sct-4 h2 {
    padding: 50px 0;
    max-width: 70%;
    font-size: 40px;
}
#sct-4 a {
    text-decoration: underline;
    color: blue;
}








/* section 6 */

#sct-6 {
    background-color: rgb(180,208,231);
    padding: 100px 0;
    width: 100vw;
}

#sct-6 > .flex {
    justify-content: space-between;
    align-items: start;
}

#sct-6 > .main-container > h2 {
    flex-basis: 50%;
    font-size: 40px;
    color: rgb(97,8,43);
}

#sct-6 > .main-container > button {
    font-size: 16px;
    padding: 10px 40px;
}




/* section 7 */

#sct-7 {
    padding: 150px 0;
}

#sct-7 > h2 {
    font-size: 40px;
    padding-bottom: 50px;
}

.sct-7-menu {
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-collapse: collapse;
}

.sct-7-menu > p {
    font-weight: bold;
}

.sct-7-menu > span {
    padding-right: 30px;
}











/* footer */

#foot-contain {
    background-color: black;
    width: 100vw;
    color: white;   
}

#foot-contain > div {
    padding-top: 100px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.foot-li-contain > h4 {
    margin-bottom: 20px;
    font-size: 25px;

}

.foot-li-contain > ul {
    list-style-type: none;
    line-height: 40px;
}

#foot-contain > div > button {
    background-color: black;
    padding: 40px 0;
    color: rgb(153,153,153);
    word-spacing: 5px;
    font-size: 16px;
    border-top: 2px solid white;
    padding-right: 30px;
}

#foot-contain > div > button > span {
    font-size: 28px;
    vertical-align: 25%;
}







/* debug */

/* .img-prov {
    width: 500px;
} */
/* 
.card-container > div {
    max-width: 300px;
}
 */
